body {
    font-family: Helvetica;
    overflow:auto;
}



#main-container {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    top:0;
    background: rgb(178,175,237);
    background: linear-gradient(0deg, rgba(178,175,237,1) 0%, rgba(100,100,233,1) 20%, rgba(0,212,255,1) 95%);
    overflow:auto;
}

#main-container > header {
    padding:10px;
    background-color:  rgba(255,255,255,0.8);
    border-bottom: 1px solid black;
    overflow:auto;
}

#main-container > header > img {
    height:0.51in;
    vertical-align: middle;
}

#main-container > header > h1 {
    display:inline-block;
    margin:0px;
    margin-right:0.2in;
    margin-left:0.2in;
    vertical-align:middle;
}


#buttons {
    //margin:0.05in;
    padding:0in;
    //background-color: rgba(255,255,255,0.7);
    //border-radius: 0.1in;
    display:inline-block;
    vertical-align:middle;
}

#buttons > button {
    //background-color: rgba(128,128,128,1);
    //font-weight:bold;
    //border-radius: 0.1in;
    margin: 0.02in;
    padding:0.1in;
    //border: 0px;
    //color: rgba(0,212,255,1);
    //color:white;
    vertical-align:middle;
    //height:100%;
}

.icon-button {
    background-size: contain;
    background-repeat: no-repeat;
    height: 0.5in;
    width: 0.5in;
}

#save-button {
    background-color: transparent;
    background-image: url("save.png");
    border: 0;
    cursor: pointer;
}


#reload-button {
    background-color: transparent;
    background-image: url("reload.svg");
    border: 0;
    cursor: pointer;
}


#buttons > select {
    height:100%;
    margin: 0.02in;
    margin-left:0.1in;
    padding: 0.1in;
    vertical-align:middle;
}


#code-page {
    overflow:auto;
    text-align:center;
    height: 100px;
}


.layout-box {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    overflow:auto;
    display: inline-block;
    width:100%;
    text-align:left;
    height:50%;
}

#widgets {
    margin:0.05in;
    padding:0in;
    background-color: rgba(255,255,255,0.7);
    //border-radius: 0.1in;
    overflow:auto;
}

.widget {
    display: inline-block;
    border: 1px solid black;
    //border-radius: 0.1in;
    padding: 0.04in;
    margin: 0.1in;
    background-color: rgba(255,255,255,0.3);
    vertical-align: top;
}

.widget > header {
    //border-bottom: 1px solid black;
    margin-bottom:0.1in;
}

.delete-widget {
    color:black;
    background-color:red;
    //border: 0;
    height:0.2in;
    width:0.2in;
    padding:0;
    text-align: center;
    cursor:pointer;
    margin-bottom: 0.1in;
    margin-right:0.1in;
    border-radius:0.1in;
}


#code-text {
    background-color:white;
    margin:0.05in;
    padding:0.1in;
    height:100%;
    //border-radius: 0.1in;
}

#code-output {
    background-color:black;
    color: #DDD;
    font-family: monospace;
    height:2in;
    overflow-y:scroll;
    margin:0.05in;
    padding:0.1in;
    //border-radius: 0.1in;
}
